@keyframes slidein {
  0% {
    transform: scale(.95);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.95);
  }
}

.voteGuessButton {
//  flex: 1 1 5rem;

  button{
    height:35vw;
    width:35vw;
    margin:3vw 5vw;
    border:0.3rem solid $colorBg;
    border-radius: 100%;
    font-size: 8vw;
    font-weight: bold;
    color:$colorBg;
    background: $color1;
    outline:none;
    box-shadow: 0 0 0rem 0.3rem $color1;
    cursor:pointer;
    transition-duration: $dur;

    animation-duration: .75s;
    animation-name: slidein;
    animation-iteration-count: infinite;

    @include mq($size:xs){
      height: 11vw;
      width: 11vw;
      margin:1vw 3vw;
      font-size: 4vw;
    }

    .disableAll &:not(.correct),
    &.disable:not(.correct){
      color:$colorBg;
      animation: none;
      opacity: .25;

      &.disable.wrong{
        opacity: .1;
      }
    }

  }
  .correct{
    animation: none;
    background: $success;
    box-shadow: 0 0 0rem 0.3rem $success;
  }
  .wrong{
    opacity: .25;
    background: $gray;
    color:$colorBg;
    box-shadow: 0 0 0rem 0.3rem $gray;
  }
}
