@import 'vote-guess-button';

.voteGuess{
  margin: 0;
  padding: $contentPad;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;

  @include mq($size:xs){
    padding-top:0;
  }
  @include mq($size:lg){
    padding: $contentPad;
  }
}
