$color1: #FCB924;
$gray: #444;
$colorBg: #EFEFEA;

$font: 'Quattrocento', serif;
$fontHd: 'Oswald', sans-serif;

$contentPad:2rem .5rem;

$xs:451px;
$sm:701px;
$md:1101px;
$lg:1401px;

//transition duration
$dur:.5s;

@mixin mq($size:lg) {
  @if $size == lg {
    @media (min-width: $lg) { @content; }
  }
  @else if $size == md {
    @media (min-width: $md) { @content; }
  }
  @else if $size == sm {
    @media (min-width: $sm) { @content; }
  }
  @else if $size == xs {
    @media (min-width: $xs)  { @content; }
  }
}

html{
	font-size:18px;
  font-family: $font;
}
html,
body{
  margin:0;
  padding: 0;
  background: $colorBg;
}
p{
	margin:0 0 1rem 0;
  line-height: 135%;
}
img{
	max-width:100%;
}

h1{
	margin:0;
	font-family: $fontHd;
}

.filmComp{
  margin: 0 0 3.5rem;
  border-bottom: 3px solid $gray;
  background: $color1;
}

@import 'poster';
@import 'vote-guess';
