<header>
  <h1>Marty!</h1>
  <p>Test how well you can guess the average <a href="https://www.themoviedb.org/">TMDB</a> rating for Martin Scorsese's most popular movies. Click a rating (out of 10) to guess. If you get it right the first time, it's worth 100 points. Every wrong answer docks you 25 points. Written with Ember.js and SCSS; content provided by TMDB.</p>

  <q>
    <p>If you win, you win. If you lose, you still win.</p>
    <footer><cite>- Joey LaMotta (<i>Raging Bull</i>)</cite></footer>
  </q>
</header>

{{outlet}}
